@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 400;
	src: url('./YekanBakh-Regular.ttf') format('ttf'),   
	url('./YekanBakh-Regular.ttf') format('ttf');	 
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 700;
	src: url('./YekanBakh-Bold.ttf') format('ttf'),   
	url('./YekanBakh-Bold.ttf') format('ttf');	 
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}