@import "../assets/fonts/fontyekan.css";
@import "../assets/fonts/fontiran.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: IRANSansX, Arial, Helvetica, sans-serif;
}
@layer components {
  .title {
    @apply text-base text-primary w-1/2 font-IRANSansX font-medium text-end;
  }
  .icon--style {
    @apply w-6 h-6 hover:cursor-pointer;
  }
  .card-container {
    @apply flex bg-bgLight mt-4 w-[320px] md:w-[550px] mx-auto items-center justify-between rounded-md  p-4;
  }
  .tab-container {
    @apply flex gap-2 mt-8 mb-2 w-[320px] bg-bgLight rounded mx-auto md:w-[550px];
  }
  .inout--icon{
    @apply absolute left-3 top-1/2 transform -translate-y-1/2;
  }
  .tab--style {
    @apply px-4 py-2 w-1/2 rounded-[4px] text-xs font-IRANSansX font-medium;
  }
  .active--tab {
    @apply rounded-md text-xs  bg-accent text-white shadow;
  }
  .button--style{
    @apply mb-4 py-2 mx-auto w-[312px] md:w-[552px] fixed left-0 bottom-0 right-0 rounded-md text-xs  bg-accent text-white shadow;
  }
  .button--style.disabled {
    @apply bg-light;
  }
  .inactive--tab {
    @apply text-primary;
  }
  .input--label {
    @apply block text-primary font-IRANSansX text-xs  font-normal;
  }
  .input--error {
    @apply text-red-500 text-xs font-IRANSansX font-medium mt-1;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
